<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Django Home Page</title> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>
<body>
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg" style="background-color:#363636">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'profile' %}"style="color:#E4E7E4">Profile</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link active" aria-current="page" href="#" style="color:#E4E7E4">Home</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'movie' %}" class="nav-link" href="#" style="color:#E4E7E4">movie</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'cartoon' %}" class="nav-link" href="#" style="color:#E4E7E4">cartoon</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'top_250' %}" class="nav-link" href="#" style="color:#E4E7E4">top 250</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#E4E7E4">
                  categories
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a href="{% url 'action_movie' %}"class="dropdown-item" href="#">боевик</a></li>
                  <li><a href="{% url 'comedy_movie' %}" class="dropdown-item" href="#">комедия</a></li>
                  <li><a href="{% url 'thriller_movie' %}" class="dropdown-item" href="#">триллер</a></li>
                </ul>
              </li>
              </ul>
            </li>
            <form action="{% url 'search_results' %}" method="get" class="d-flex" role="search">
              <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search" id="search_id">
              <button class="btn btn-outline-success" type="submit" onclick="search">Search</button>
            </form>
          </div>
        </div>
      </nav>
        <a href="{% url 'logout' %}"> 
          <button> 
              exit
          </button>
        </a>
        <img src="media/картинка.jpg" style="height: 800px; weight: 1200px"  alt="{{movie.name}} class="center"">
          

    {% else %}
        <h1> You are not registrated </h1>
        <a href="{% url 'login' %}"> 
            <button> 
                Login
            </button>
        </a>

    {% endif %}
  

</body>
</html>