{% extends 'base.html' %}
{% block content %}


      {% for movie in movies %}
      <section class="product">
        <div class="product__photo">
          <div class="photo-container">
            <div class="photo-main">
            
              <img src="{{ movie.image.url }}" style="height: 300px; weight: 330px" alt="{{movie.name}}">
            </div>
            
          </div>
        </div>
        <div class="product__info">
          <div class="title">
            <h2>{{ movie.name }}</h2>
          </div>
         
          <div class="description">
            <h3>Характеристика</h3>
            <ul>
              <li>Рейтинг: {{ movie.rating }}</li>
              <li>Страна: {{ movie.country }}</li>
              <li>Длительность: {{ movie.duration }}</li>
              <li>Жанр: {{ movie.genre }}</li>
            </ul>
          </div>
          <a href="{% url 'movie_detail' movie.id %}">
            <button class="buy--btn">Подробнее</button>
          </a>
        </div>
      </section>
    
      {% endfor %}

      <a href="{% url 'movie_create' %}">
        <button>
            Add New Movie
        </button>
      </a>

{% endblock content %}